


* {
  color: #0d0e0db1;
  font-family: 'Roboto', 'sans-serif';
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html, body {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;

    
  }

 #viewDiv {
  height: 85%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
    

 } 

.logo {
  width:175px;
  height : 150px;}

.intro {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  }

 .map {
   background : url('https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661');
   height : 100%;
   width : 100%;
 }

 .weatherPage {
  background : url('blue-snow.png');
  min-height : 100%;
  min-width : 100%;

 }

#text, .text {
  font-weight: 500;
  font-size: 18px;
      }

.intro h1 {
  font-size: 5em;
  font-family: 'Over the Rainbow', cursive;
  margin: 0 0.1em 0.1em 0;
  color:#289f8ff5;

    }

.description {
  font-family: 'Roboto';
  font-size: 1.2rem;

  }

.slogan {
  font-family: 'Roboto';
  font-size: 1.7rem;
  margin: 0 0.1em 0.1em 0;

  }
  

.intro:before {
  content: '';
  background-color: #ffffff;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:35%;
  z-index: -1;
        
  }

.instructions{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top:7px;
    
  }

button {
    display : inline-block;
    padding: 0.5em 3em;
    border :0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Roboto', 'sans-serif';
    color: #0d0e0daf;
    text-align : center;
    transition : all 0.15s;

  }


.box {
  box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
          ;
          
            
            
  min-height: 200px;
  width: 25vw;
  background: white;
  border-radius: 5px;
  list-style: none;
  text-align: center;
  padding-left:  0px;
  padding-right:  0px;

  }


      


  #js-weather-results{
   display:flex;
   justify-content: space-evenly;
   font-size:20px;
   text-align: center;
   font-family: 'Roboto', 'sans-serif';
                
                
     }

  input[type=text]{
    width:15%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
   }
              
  input[type=text]:focus{
    border-color: #289f8ff5;
    box-shadow:0 0 8px 0 #289f8ff5;
        }      


  .current{
    margin-top: 20px;
    text-align: center;
           
    }


  .form {
    padding-top:15px;
    text-align: center;
   }

  .lightning{
    height:85px;
    width: 85px;
    text-align : center
      }

            

  .open, .open-2  {
    margin-left : 20px;
    margin-right : 20px;

     }

  .homeLink{
    margin-left : 20px;
    margin-top : 5px;

        }


  .location {
    font-family: 'Over the Rainbow', cursive;
     color:#289f8ff5;
     font-size: 28px;
  }

  
  button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
  }
  
  button:hover {
    border: 1px solid #666666;
    background: #289f8ff5;
    color: #ffffff;
  }


  .popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
      }
      
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    height:150px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
      }
      
    .popup .close-btn {
      cursor:pointer;
      position:absolute;
      right:20px;
      top:20px;
      width:30px;
      height:30px;
      background:#289f8ff5;
      color:#fff;
      font-size:25px;
      font-weight:600;
      line-height:30px;
      text-align:center;
      border-radius:50%;
    }

       
      
    .popup.active .overlay {
      display:block;
      }
      
    .popup.active .content {
      transition:all 300ms ease-in-out;
      transform:translate(-50%,-50%) scale(1);
      border-radius: 30px;

      }
           

    .popup-2.active .overlay {
      display:block;
      }
      
    .popup-2.active .content {
      transition:all 300ms ease-in-out;
      transform:translate(-50%,-50%) scale(1);
      }
        

    .prompt{
      padding-top:25px;
      }
     

      .list-items{
        list-style:none;
      }

  @media only screen and (max-width: 600px) {
        
      
      #js-weather-results{
        display:flex;
        justify-content: space-between;
        font-size:14px;
        font-family: 'Roboto', 'sans-serif';
        flex-direction: column;
        align-items: center;


        
    }


    .box {
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
    ;
      min-height: 75px;
      width: 50vw;
      background: white;
      border-radius: 5px;
      list-style: none;
      text-align: center;
 
    }

    .popup .content {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%) scale(0);
      background:#fff;
      width:300px;
      height:150px;
      z-index:2;
      text-align:center;
      padding:20px;
      box-sizing:border-box;
      font-family:"Open Sans",sans-serif;
    }
    
    .popup .close-btn {
      cursor:pointer;
      position:absolute;
      right:20px;
      top:20px;
      width:30px;
      height:30px;
      background:#289f8ff5;
      color:#fff;
      font-size:15px;
      font-weight:600;
      line-height:30px;
      text-align:center;
      border-radius:50%;
    }


  input[type=text]{
    width:30%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
   }
  }